/* Estilos para el header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#logoPagina {
    width: 5%;
    height: auto;
    border-radius: 50%;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    margin: 0;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header li {
    margin: 0 15px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    text-decoration: underline;
}
